<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="other_structure">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>MODEL</th>
            <th>PRICE</th>
            <th>ENGINE</th>
            <th>COLOR</th>
            <th>DESCRIPTION</th>
            <th style="width: 8%;">DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m: ${mashinu}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.model}"></td>
            <td th:text="${m.price}"></td>
            <td th:text="${m.engine}"></td>
            <td th:text="${m.color}"></td>
            <td th:text="${m.description}"></td>
            <td><a th:href="@{'/details/' + ${m.id}}" class="btn btn-primary btn-sm">DETAILS</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>